<nav class="navigation">

  <div class="navigation__logo">
    <a class="navigation__logo-link" href="/">
      <img src="{{@site.logo}}" alt="{{@site.title}} logo" />
    </a>
  </div>

  <div class="navigation__title">
    {{@site.title}}
  </div>

  <ul class="navigation__menu">
    {{#foreach navigation}}
    <li class="navigation__entry" role="menuitem">
      <a class="navigation__link {{#if current}} navigation__link--active{{/if}}"
        href="{{url absolute="true"}}">{{label}}</a>
    </li>
    {{/foreach}}
  </ul>


</nav>
