<nav class="sal-navigation">

  <div class="sal-navigation__logo">
    <a class="sal-navigation__logo-link" href="/">
      <img src="{{asset "dist/images/logo-white.svg"}}" alt="{{@site.title}} logo" />
    </a>
  </div>

  <div class="sal-navigation__title">
    {{@site.title}}
  </div>

  <ul class="sal-navigation__menu">
    {{#foreach navigation}}
    <li class="sal-navigation__entry" role="menuitem">
      <a class="sal-navigation__link {{#if current}} sal-navigation__link--active{{/if}}"
        href="{{url absolute="true"}}">{{label}}</a>
    </li>
    {{/foreach}}
  </ul>

</nav>
